[Unit]
Description=LeafDepot Gateway API Service
After=network.target

[Service]
Type=simple
User=zihui-lang
Group=zihui-lang
WorkingDirectory=/home/zihui-lang/code/LeafDepot
Environment="PYTHONPATH=/home/zihui-lang/code/LeafDepot"
ExecStart=/home/zihui-lang/miniconda3/envs/tobacco_env/bin/uvicorn gateway:app --host 0.0.0.0 --port 8000
StandardOutput=append:/home/zihui-lang/code/LeafDepot/logs/gateway_systemd.log
StandardError=append:/home/zihui-lang/code/LeafDepot/logs/gateway_systemd.log
Restart=always
RestartSec=10
