[Unit]
Description=LeafDepot Web Frontend Service
After=network.target

[Service]
Type=simple
User=zihui-lang
Group=zihui-lang
WorkingDirectory=/home/zihui-lang/code/LeafDepot/web
Environment="PATH=/usr/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
ExecStart=/home/zihui-lang/code/LeafDepot/log_wrapper.sh web /home/zihui-lang/.local/share/pnpm/pnpm dev
Restart=always
RestartSec=10
