[Unit]
Description=LeafDepot Gateway API Service
After=network.target

[Service]
Type=simple
User=zihui-lang
Group=zihui-lang
WorkingDirectory=/home/zihui-lang/code/LeafDepot
Environment="PYTHONPATH=/home/zihui-lang/code/LeafDepot"
ExecStart=/home/zihui-lang/code/LeafDepot/log_wrapper.sh gateway /home/zihui-lang/miniconda3/envs/tobacco_env/bin/python -m uvicorn services.api.gateway:app --host 0.0.0.0 --port 8000 --no-access-log
Restart=always
RestartSec=10
