[Unit]
Description=LeafDepot LMS Simulator Service
After=network.target

[Service]
Type=simple
User=zihui-lang
Group=zihui-lang
WorkingDirectory=/home/zihui-lang/code/LeafDepot/services/sim/lms
Environment="PYTHONPATH=/home/zihui-lang/code/LeafDepot"
ExecStart=/home/zihui-lang/code/LeafDepot/log_wrapper.sh lms /home/zihui-lang/miniconda3/envs/tobacco_env/bin/python -m uvicorn sim_lms_server:app --host 0.0.0.0 --port 6000 --no-access-log
Restart=always
RestartSec=10
