[Unit]
Description=LeafDepot Web Frontend Service
After=network.target

[Service]
Type=simple
User=zihui-lang
Group=zihui-lang
WorkingDirectory=/home/zihui-lang/code/LeafDepot/web
ExecStart=/home/zihui-lang/.local/share/pnpm/pnpm dev
StandardOutput=append:/home/zihui-lang/code/LeafDepot/logs/web_systemd.log
StandardError=append:/home/zihui-lang/code/LeafDepot/logs/web_systemd.log
Restart=always
RestartSec=10
